.container {
    display: flex;
    background-color: white;
    color: black;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
}

.Title {
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    color: black;
    padding: 10px;
}

.form {
    width: 320px;
    margin-top: 20px;
    display: flex;
    background-color: floralwhite;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px 5px;
}

.label {
    color: var(--black-color);
    box-sizing: border-box;
}

.loginFormInput {
    margin-top: 5px;
    width: 280px;
    background: white;
    border: var(--none-border);
    outline: none;
    padding: 10px;
    font-size: var(--s-font-size);
    color: var(--black-color);
    text-shadow: var(--text-shadow);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transition: border 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    

}

.loginFormInput:hover,
.loginFormInput:active {
    border: 1px solid rgb(240, 171, 183);
}

.loginFormBtn {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    gap: 10px;
    color: rgba(18, 18, 18, 0.708);
    padding: 10px 5%;
    background: pink;
    border: none;
    border-radius: 30px;
    width: 70%;
    justify-content: center;
}

.loginFormBtn:hover,
.loginFormBtn:active {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
    color: white;
    border: 1px pink;
    background-color: rgb(220, 154, 187);
}